.sf-select {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.sf-select-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 7.5rem;
  gap: 1.125rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
  appearance: none;
  border: none;
  background-color: transparent;
}

.sf-select-button:hover {
  cursor: pointer;
}

.sf-select-options {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 2.62rem;
  min-width: 6.625rem;
  gap: 1rem;
  margin: 0;
  padding: 1.5rem 4.31rem 1.5rem 1.5rem;
  color: var(--body_color);
  list-style-type: none;

  background-color: var(--body_secondary);
  border-radius: 1rem;
  box-shadow: 0px 5px 30px 0px var(--shadow_color);
}

.sf-select-option {
  display: flex;
  justify-content: flex-start;
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.sf-select-option:hover {
  color: var(--purple);
  cursor: pointer;
}
