body {
  color: var(--body_color);
  background-color: var(--body_background);
}

.center-content {
  max-width: 46.1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3.63rem;
  margin-bottom: 7.75rem;
}

.app-link {
  color: var(--link_color);
}
