/* Sans Serif */

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter/Inter-VariableFont_slntwght.ttf);
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(./assets/fonts/inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(./assets/fonts/inter/static/Inter-Regular.ttf);
}

/* Serif */
@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/lora/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lora";
  font-weight: 700;
  src: url("./assets/fonts/lora/static/Lora-Bold.ttf");
}

@font-face {
  font-family: "Lora";
  font-weight: 700;
  font-style: italic;
  src: url("./assets/fonts/lora/static/Lora-BoldItalic.ttf");
}

@font-face {
  font-family: "Lora";
  font-weight: 400;
  src: url("./assets/fonts/lora/static/Lora-Regular.ttf");
}

/* Mono  */
@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 700;
  src: url("./assets/fonts/inconsolata/static/Inconsolata-Bold.ttf");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 400;
  src: url("./assets/fonts/inconsolata/static/Inconsolata-Regular.ttf");
}

* {
  font-family: var(--font_family);
  margin: 0px;
  padding: 0;
}

html {
  height: 100%;
}

button {
  color: var(--body_color);
}

p {
  font-feature-settings: "clig" off, "liga" off;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 133.333% */
}
